proxy=http://evapzen.fpl.com:10262/
https-proxy=http://evapzen.fpl.com:10262
noproxy=169.254.169.254,169.254.170.2,localhost,127.0.0.1,.neeaws.local,.fpl.com,.nexteraenergy.com,.nee.com,nexus.nee.com
